.about-container {
  padding: 6rem 8rem;
  background: linear-gradient(135deg, #404f68 0%, #e7e7e7 100%);
  color: #404f68;
  text-align: center;
  margin: 0 auto;
}

.skill {
  text-align: center;
}

.skill-name {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: #404f68;
}

.progress {
  position: relative;
  height: 24px;
  background: #ddd;
  border-radius: 999px;
  width: 60%;
  margin: 0.5rem auto 1.5rem;
  overflow: hidden;
}

.progress-fill {
  position: relative;
  height: 100%;
  background: #404f68;
  border-radius: 999px;
  transition: width 800ms ease;
  padding: 30 10px;
}
