.header {
  background-color: #e7e7e7;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4rem;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #404f68;
}

.nav a {
  color: #404f68;
  margin-left: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #1f7cff;
  text-decoration: underline;
}
