.testimonial {
  padding: 6rem 2rem;
  background: linear-gradient(135deg, #404f68 0%, #e7e7e7 100%);
  color: #404f68;
  text-align: center;
}

.testimonial-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  background-color: #fff;
  color: #333;
  padding: 2rem;
  border-radius: 10px;
  max-width: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
