html {
  scroll-behavior: smooth;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  25% {
    opacity: 0.5;
    transform: translateY(10px);
  }
  50% {
    opacity: 0.75;
    transform: translateY(5px);
  }
  75% {
    opacity: 0.9;
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  opacity: 0;
  animation: fadeUp 1s forwards;
}
